<div>
    <app-nav-bar></app-nav-bar>
    <div class="head-sec">
        <!-- <h1>About Page</h1> -->
    </div>
    <div class="container1">
        <div class="article">
            <h1 class="title">About Joy's Assistance</h1>
            <div class="content">
                <p class="text">About Joy's Assistance is an online medical plartform created by level two students at Seven Advance Academy. The Goal of this project is to help millions of people in the world to get quality health care anywhere at anytime without getting to pay
                    any fees.</p>
            </div>
        </div>
        <div class="article">
            <h1 class="title">Purpose Of Joy's Assistance</h1>
            <div class="content">
                <p class="text">Joy's Assistannce will let people know what is wrong with them, or what they are suffering from based on the symptoms they will input.
                    It will predict a user’s health with at least 98% accuracy in order to propose the right drug and prescription for the right disease.
                    It will address people from different language backgrounds such as English, French, Chinese, Japanese, etc.
                    </p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>